.my-main {
    background: url('../../../../assets/background_img1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    width: 100%;
}
form {
    position: relative;
    width: 50%;
    margin: 60px auto;
    margin-bottom: 0;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 50px 100px 50px 100px;
    text-align: left;
    -webkit-box-shadow: 5px 5px 6px rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 6px rgba(255, 255, 255, 0.1);
  }

  form h1 {
      font-size: 30px;
  }

  .form-control {
      background: whitesmoke;
  }

  .btn {
      width: 100%;
      margin-top: 10px;
      padding: 5px 15px;
      background: #4682b4;
      color: white;
      font-weight: bold;
      border: none;
      outline: none;
      border-radius: 4px;
  }

  #message a {
      color: #B0C4DE;
      font-size: 14px;
      text-decoration: none;
  }

  .form-group {
      color: lightgrey;
  }

  @media screen and (max-width: 960px) {
    form {
        width: 70%;
        padding: 40px 80px 40px 80px;
    }
 }

  @media screen and (max-width: 640px) {
    form {
        width: 90%;
        padding: 30px 60px 30px 60px;
    }
 }

